@media only screen and (max-width: 479px){
    ul{
        padding-top: 10%;
    }
    div ul li {
        display: flex;
        margin: 0 0 0 0;
        padding-top: 10%;
    }

    div ul li a {
        width: 100%;
    }

    div ul li a img {
        width: 100%;
    }

    div ul li a strong {
        width: 100%;
    }

    #footer {
        /*height: unset;*/
        text-align: center;
    }

    /*.footer-contents {*/
    /*  position: unset;*/
    /*}*/

    /*.footer-contents .links .line {*/
    /*  margin-top: 20px;*/
    /*  margin-right: 10px;*/
    /*  margin-bottom: 10px;*/
    /*}*/
}
body {
    /*overflow: auto;*/
    /*background-size: cover;*/
    /*background: url(img/background.jpg) no-repeat center top;*/
    /*background-attachment: fixed;*/
}

@media only screen and (max-width: 349px) {
    div ul li {
        width: 33.33%;
    }
}

@media only screen and (min-width: 350px) and (max-width: 479px) {
    div ul li {
        width: 25%;
    }
}